@model NotaBlog.Api.ViewModels.StoryViewModel

@{
    ViewData["Title"] = Model.Title;
}

<main class="mt-4">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-9">
                <h2>@Model.Title</h2>
                <small class="text-muted">@Model.Published.ToString("dd/MM/yyyy")</small>
                <hr />
                @Html.Raw(Model.Content)
            </div>

            <div class="col-3">
                <!-- sidebar -->
            </div>
        </div>

        
    </div>
</main>