<footer class="page-footer  grey lighten-1 black-text center-on-small-only">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2015 Copyright: Kamil Grudzień
        </div>
    </div>
</footer>