@model IEnumerable<NotaBlog.Api.StoryViewModel>

@{
    ViewData["Title"] = "Index";
}

@foreach(var item in Model)
{
    <h2>@item.Title</h2>
    <small>@item.Published</small>
    <p>@item.Content</p>
    <hr/>
}

